@model BTL_ASPDotNet2022.Models.BookcaseFilter;
@inject IHttpContextAccessor _contextAccessor;

@{
    ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/Hidayah/assets/img/slide/slide-1.jpg);">
                <div class="carousel-container">
                    <div class="container">
                        <!--
                        
                        
                        <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
                        -->
                        <h2 class="animated fadeInDown">Welcome to <span>DTH Book Store</span></h2>
                        <p class="animated fadeInUp">"Nếu bạn thực sự có tài năng, thì bạn sẽ không bao giờ sợ thiếu may mắn."</p>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(/Hidayah/assets/img/slide/slide-2.jpg);">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animated fadeInDown">Người do thái:</h2>
                        <p class="animated fadeInUp">"Đọc 101 lần sẽ tốt hơn đọc 100 lần..."</p>
                        <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(/Hidayah/assets/img/slide/slide-3.jpg);">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animated fadeInDown">Ngạn Ngữ Gruzia</h2>
                        <p class="animated fadeInUp">"Học tập là hạt giống của kiến thức, kiến thức là hạt giống của hạnh phúc!"</p>
                        <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<!-- -->
<br />
<h2>Book list</h2>

<!-- Render book follow title-->
@foreach(var title in Model.BookTitleRenderList){
    <div class="my-book-wrapper container">
        <!-- Header-->
        <h3 class="book-wrapper-header">@title:</h3>

        <!-- List book-->
        <div align="center">
            <div class="book-wrapper">
                @foreach (var item in Model.BookList)
                {
                    if (item.Gender.ToLower().Contains(@title.ToLower()))
                    {
                        <a class="book-cell" href="/Books/Details/@item.Id">
                            <img class="book-img" src="@item.ImageSrc" />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
}








